/* 
    Document   : style
    Created on : Jul 26, 2011, 8:51:01 PM
    Author     : mauricio
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

root { 
    display: block;
}

#logo{
    text-align: center;
    background: url(../images/full.jpg) no-repeat center;
    padding-top: 220px;
}

#miniBusqueda{
    background: url(../images/mini.jpg) no-repeat;
    padding-top: 50px;
    border-bottom: 1px #000 solid;
}

#content{
    text-align: center;
}

h3{
    font-size: 12px;
    font-weight: bold;
    margin: 5px 0px;
}

.documentLink{
    font-size: 10px;
    margin: 0px;    
}

.documentDesc{
    font-size: 11px;
    margin: 2px 0px;    
}