<?xml version='1.0' encoding='UTF-8' ?>
<!--
    Document   : index.xhtml
    Created on : Jul 21, 2011, 8:08:04 PM
    Author     : mauricio
-->
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:icecore="http://www.icefaces.org/icefaces/core"
      xmlns:ace="http://www.icefaces.org/icefaces/components"
      xmlns:ice="http://www.icesoft.com/icefaces/component"
      >
    <h:head>
        <title>Hanubis</title>
        <link rel="stylesheet" type="text/css" href="./xmlhttp/css/rime/rime.css"/>
    </h:head>
    <h:body styleClass="ice-skin-rime">
        <ice:form id="searchForm" partialSubmit="true" autocomplete="off">
            <div id="miniBusqueda">
                <h:outputText value="Hanubis"/>
                <ice:inputText id="query" value="#{SearchController.query}" size="47" />
                <ice:commandButton id="btnBuscar" value="Buscar" action="#{SearchController.searchButtonListener}"/>                
                <ice:outputConnectionStatus style="float:right"/> 
            </div>
            <div id="resultados">
                <ice:dataTable id="documentosList" width="100%" var="documento" value="#{SearchController.documentoList}" rows="10">
                    <ice:column>
                        <h3><a href="#{documento.url}">#{documento.titulo}</a></h3>
                        <p class="documentLink"><a href="#{documento.url}">#{documento.url}</a></p>
                        <div class="documentDesc">
                            <ice:outputText value="#{documento.descripcion}" escape="false" />
                        </div>
                    </ice:column>
                </ice:dataTable>
                <ice:panelGrid columns="1" styleClass="scrollerTable2" columnClasses="standardTable_ColumnCentered" >

                    <ice:dataPaginator id="scroll_1"
                                       for="documentosList"
                                       fastStep="10"
                                       pageCountVar="pageCount"
                                       pageIndexVar="pageIndex"
                                       paginator="true"
                                       paginatorMaxPages="9"
                                       >

                        <f:facet name="first" >
                            <ice:graphicImage url="./xmlhttp/css/xp/css-images/arrow-first.gif" style="border:none;"/>
                        </f:facet>

                        <f:facet name="last">
                            <ice:graphicImage url="./xmlhttp/css/xp/css-images/arrow-last.gif" style="border:none;" />
                        </f:facet>

                        <f:facet name="previous">
                            <ice:graphicImage url="./xmlhttp/css/xp/css-images/arrow-previous.gif" style="border:none;" />
                        </f:facet>

                        <f:facet name="next">
                            <ice:graphicImage url="./xmlhttp/css/xp/css-images/arrow-next.gif" style="border:none;" />
                        </f:facet>

                        <f:facet name="fastforward">
                            <ice:graphicImage url="./xmlhttp/css/xp/css-images/arrow-ff.gif" style="border:none;" />
                        </f:facet>

                        <f:facet name="fastrewind">
                            <ice:graphicImage url="./xmlhttp/css/xp/css-images/arrow-fr.gif" style="border:none;" />
                        </f:facet>

                    </ice:dataPaginator>

                    <ice:dataPaginator id="scroll_2"
                                       for="documentosList"
                                       rowsCountVar="rowsCount"
                                       displayedRowsCountVar="displayedRowsCountVar"
                                       firstRowIndexVar="firstRowIndex"
                                       lastRowIndexVar="lastRowIndex"
                                       pageCountVar="pageCount"
                                       pageIndexVar="pageIndex"
                                       >

                        <ice:outputFormat value="Se encontro {0} resultados, mostrando {1} resultados, desde {2} a {3}. Pagina {4} / {5}. La consulta demoro {6}" styleClass="standard" >
                            <f:param value="#{rowsCount}" />
                            <f:param value="#{displayedRowsCountVar}" />
                            <f:param value="#{firstRowIndex}" />
                            <f:param value="#{lastRowIndex}" />
                            <f:param value="#{pageIndex}" />
                            <f:param value="#{pageCount}" />
                            <f:param value="#{SearchController.tiempoBusqueda}" />
                        </ice:outputFormat>

                    </ice:dataPaginator>

                </ice:panelGrid>

            </div>
        </ice:form>
    </h:body>
    <h:outputStylesheet library="org.icefaces.component.skins" name="rime.css" />    
</html>